<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szxj.rent.mapper.RentDeviceMapper">

    <resultMap type="RentDevice" id="RentDeviceResult">
        <result property="id"    column="id"    />
        <result property="deviceNum"    column="device_num"    />
        <result property="deviceTypeId"    column="device_type_id"    />
        <result property="deviceTypeName"    column="device_type_name"    />
        <result property="vendorId"    column="vendor_id"    />
        <result property="vendorName"    column="vendor_name"    />
        <result property="deleteFlag"    column="delete_flag"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRentDeviceVo">
        select id, device_num, device_type_id, device_type_name, vendor_id, vendor_name, delete_flag, remark, create_time, update_time from rent_device
    </sql>

    <select id="selectRentDeviceList" parameterType="RentDevice" resultMap="RentDeviceResult">
        <include refid="selectRentDeviceVo"/>
        <where>
            <if test="deviceNum != null  and deviceNum != ''"> and device_num = #{deviceNum}</if>
            <if test="deviceTypeId != null  and deviceTypeId != ''"> and device_type_id = #{deviceTypeId}</if>
            <if test="deviceTypeName != null  and deviceTypeName != ''"> and device_type_name = #{deviceTypeName}</if>
            <if test="vendorId != null  and vendorId != ''"> and vendor_id = #{vendorId}</if>
            <if test="vendorName != null  and vendorName != ''"> and vendor_name = #{vendorName}</if>
            <if test="deleteFlag != null  and deleteFlag != ''"> and delete_flag = #{deleteFlag}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectRentDeviceById" parameterType="String" resultMap="RentDeviceResult">
        <include refid="selectRentDeviceVo"/>
        where id = #{id}
    </select>

    <insert id="insertRentDevice" parameterType="RentDevice" useGeneratedKeys="true" keyProperty="id">
        insert into rent_device
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="deviceNum != null and deviceNum != ''">device_num,</if>
            <if test="deviceTypeId != null and deviceTypeId != ''">device_type_id,</if>
            <if test="deviceTypeName != null and deviceTypeName != ''">device_type_name,</if>
            <if test="vendorId != null and vendorId != ''">vendor_id,</if>
            <if test="vendorName != null and vendorName != ''">vendor_Name,</if>
            <if test="deleteFlag != null">delete_flag,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="deviceNum != null and deviceNum != ''">#{deviceNum},</if>
            <if test="deviceTypeId != null and deviceTypeId != ''">#{deviceTypeId},</if>
            <if test="deviceTypeName != null and deviceTypeName != ''">#{deviceTypeName},</if>
            <if test="vendorId != null and vendorId != ''">#{vendorId},</if>
            <if test="vendorName != null and vendorName != ''">#{vendorName},</if>
            <if test="deleteFlag != null">#{deleteFlag},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRentDevice" parameterType="RentDevice">
        update rent_device
        <trim prefix="SET" suffixOverrides=",">
            <if test="deviceNum != null and deviceNum != ''">device_num = #{deviceNum},</if>
            <if test="deviceTypeId != null and deviceTypeId != ''">device_type_id = #{deviceTypeId},</if>
            <if test="deviceTypeName != null and deviceTypeName != ''">device_type_name = #{deviceTypeName},</if>
            <if test="vendorId != null and venderId != ''">vender_id = #{vendorId},</if>
            <if test="vendorName != null and venderName != ''">vender_name = #{vendorName},</if>
            <if test="deleteFlag != null">delete_flag = #{deleteFlag},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRentDeviceById" parameterType="String">
        delete from rent_device where id = #{id}
    </delete>

    <delete id="deleteRentDeviceByIds" parameterType="String">
        delete from rent_device where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
